# Node
node_modules/
frontend/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend*.log

# Env
.env
deploy/.env.production
deploy/.env.staging

# Build
/dist/
/build/
frontend/dist/
storage/
!src/**/infrastructure/storage/
!src/**/infrastructure/storage/*.js
backups/
deploy/certbot/
projet.tar.gz

# Vite
.vite/
frontend/vite.config.js.timestamp-*.mjs

# OS
.DS_Store
Thumbs.db
