NODE_ENV=development
PORT=3000

PGHOST=postgres
PGPORT=5432
PGUSER=atelier_staging
PGPASSWORD=change_me_staging
PGDATABASE=atelier_staging

CORS_ALLOWED_ORIGINS=http://49.12.239.135:8080
APP_DOMAIN=_

AUTH_JWT_SECRET=change_me_with_a_long_staging_secret
AUTH_JWT_TTL_SECONDS=86400
AUTH_REFRESH_TTL_SECONDS=31536000
AUTH_REFRESH_COOKIE_NAME=atelier_refresh_token_staging
AUTH_COOKIE_SAMESITE=lax
AUTH_COOKIE_SECURE=false
AUTH_REFRESH_COOKIE_MAX_AGE_MS=34560000000

MEDIA_STORAGE_ROOT=/app/storage
MEDIA_TEMP_ROOT=/app/storage/tmp
MEDIA_MAX_FILE_SIZE_BYTES=5242880
MEDIA_MAX_FILES_PER_COMMANDE=3
MEDIA_ORIGINAL_MAX_WIDTH=1800
MEDIA_ORIGINAL_MAX_HEIGHT=1800
MEDIA_THUMB_MAX_WIDTH=420
MEDIA_THUMB_MAX_HEIGHT=420
MEDIA_WEBP_QUALITY=82
MEDIA_THUMB_WEBP_QUALITY=74

VITE_API_BASE_URL=/api

STAGING_HTTP_PORT=8080
BACKEND_HOST_PORT=3100
UPTIME_KUMA_PORT=3002

STAGING_STORAGE_HOST_PATH=/opt/atelier_backend_staging/storage
STAGING_BACKUP_HOST_PATH=/opt/atelier_backend_staging/backups
